/* Tamaño del contenido de toda la pagina*/
html {
    font-size: 15px;
}

/*voy a usar mediasquery para hacer adaptable la letra a un dispositivo diferente*/
@media screen and(max-width:400px) {
    html {
        font-size: 8.10px;
    }
}

/*Los elementos del heigth usaran el 100% de sus contenedores*/
html,
body {
    height: 100%;
}

/*Se cambiara tanto el tipo de letra, tambien el color del fondo*/
body {
    background: black;
    /*Seleccionar el tipo de letra en funcion al codio en base*/
    font-family: 'Open+Sans';
    /*La etiqueta rem va a coger el tamaño padre que es 16px y lo multiplicara por 1.7*/
    font-size: 1.7rem;
    font-style: normal;
    /*Hace a la letra un poco mas ancha*/
    font-weight: normal;
    /*Es el ancho que existe entre los espacios de las palabras o sangria*/
    line-height: normal;
    color: white;
    /*Le va a dar un margen desde el interior de un contenedor hacia el exterior*/
    margin: 0;
    /*Le va a dar un margen desde el exterior hacia el interior del contenedor*/
    padding: 12px;
}
/*Le vamos a dar un diseño a nuestras tablas que tengan la clase tablas-clase*/
.tablas-clase {
    color: red;
    /*Tamaño del contenido*/
    font-size: 20px;
    /*Color del fondo de la tabla*/
    background-color: white;
    /*Margen desde el exterior al interior de la tabla*/
    padding: 10px;
}
/*Estilos a los links*/
a {
    color: #cf1767;
    transition: all 0.3s ease-in-out;
}

/*Transicion de estilos para los links*/
a:hover,
/*Le genera un pequeño brillo*/
a:focus,
/**/
a:active {
    color: white;
}

/*Al poner el maus encima del link hacer que cambie el color*/
a:hover,
a:active {
    outline: 0;
}

/*Tipografía*/
h1,
h2,
h3,
h4,
h5,
h6 .h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Frank Ruh1 libre", serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    /*Faltan 2 caracteristicas*/
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    /*Margen hacia arriba*/
    margin-top: 6rem;
    /*Margen hacia abajo*/
    margin-bottom: 16rem;
}
 title{
    color: yellow;
 }
/*Si el dispostivo tiene un tamaño mayor a 600 px hacer*/
@media screen and(max-width:600px) {

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4 {
        /*Margen hacia arriba*/
        margin-top: 6rem;
    }
}
h5, .h5, h6, .h6{
    margin-top: 4.8rem;
    margin-bottom: 1.2rem;
}
/*Estilos del header*/
.s-header{
    position: absolute;
    /*De arriva para abajo*/
    top: 2rem;
    /*De derecha a la izquierda*/
    right:0 ;
    /*De izquierda a la derecha*/
    left:0;
    /*De abajo para arriva*/
    bottom:0;
    width: 100%;
    border: 1px solid white;
    height: 78px;
    text-align: center;
}
.s-header.sticky{
    background: #050505;
    position: fixed;
    top: 0;
    left:0; 
}
.header-logo{
    display: inline-block;
    margin: 6px 0;
    position: absolute;
    top: 50%;
    left: 40px;
}
.header-logo a{
    display: block;
    margin :0;
    padding: 0;
    outline: 0;
    border: none;
    transition: all .3s;
}
.header-logo img{
    width: 132px;
    height: 36px;
    margin: 0;
}
.header-nav-wrap{
    display: inline-block;
}
.header-nav-wrap ul{
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-top: 18px;
}
.header-nav-wrap li{
    display: inline-block;
    padding: 0;
}
.header-nav-wrap li a{
    display: block;
    line-height: calc(78px-(18px*2));
}

/*Ingreso de una clase*/
.header-main-nav {
    /*robot especifica que la fuente del texto probiene del google fonts y se ingresa el tipo de texto
    que se haya descargado de la plataforma google fonts*/
    font-family: "roboto", sans-serif;
    /*El tamaño de la fuente de la clase header-main-nav sera de 13 pixeles de tamaño*/
    font-size: 13px;
    /*Se le cambiara el tipo de letra, en este caso se convertira en letras mayusculas todo 
    la seccion del menu de la clase*/
    text-transform: uppercase;
    /*El menu que esta dentro de la clase header-mani-nav tendra ceparaciones las letras
    de 0.3rem*/
    /*el rem es para dar la cantidad de espacio a las letras de una o varias palabra*/
    letter-spacing: 0.3rem;
    /*Especificamos el color que le daremos al texto del menu, en este caso dar el color gris
    cuando el usuario coloque el cursor al texto del menu para que cambie del color al que se le coloco*/
    color: rgba(255, 255, 255, 0.5);
    /*le especificamos que tendra un margen de 0 pixeles arriba, 0 pixeles a la derecha
    ,0 pixeles abajo, y 4 pixeles a la izquierda*/
    margin: 0 0 0 4px;
    /*El z-index sirve para posicionar la caja en la posicion Z (X,Y,Z grafica de matematicas)*/
    z-index: 2;
    /*Tendra un posicionamiento estatico, quiere decir que las palabras del menu no se moveran
    cuando el usuario mueva la barra de arriba hacia abajo*/
    position: static;
}

/*Nuetra clase header-main-nav busque la etiqueta li*/
.header-main-nav li {
    /*Ingreso de un margen que me de espacio el texto del menu en arriba, abajo, derecha, izquierda*/
    margin: 0 2rem;
}

/*la clase header-main-nav busque la etiqueta a*/
.header-main-nav a {
    /*Ingresaremos el color con el rgba (red, green, blue, alpha) para dar color a nuestro texto del menu*/
    /*Se especifica que todas las etiquetas a que estan dentro de mi clase header cambien de color a gris*/
    color: rgba(255, 255, 255, 0.5);
    /*Ingresaremos una posicion relativa, posicion donde no se quedara estatica*/
    position: relative;
}

/*Dentro de la clase  busque la etiqueta "a" la cual dara estilo hover para aplica el estilo cuando 
el usuario pasa el ratón sobre el enlace*/
.header-main-nav a:hover,
/*Dentro de la clase busque la etiqueta "a" la cual dara estilo focus para aplica el estilo cuando 
el enlace recibe el foco, como al usar el teclado para navegar*/
.header-main-nav a:focus,
/*Dentro de la clase busque la etiqueta "a" la cual dara estilo active para aplica el estilo mientras 
el enlace está siendo clicado o activado.*/
.header-main-nav a:active {
    /*Dar color al a las opciones del menu cuando el usuario pase el raton a las opciones para que
    se cambie de color blanco*/
    color: white;
}

/*La clase header-main-nav busque la clase current la cual dentro de la clase current busque la etiqueta "a"*/
.header-main-nav .current a {
    /*Especifica que le dara color blanco a la seccion de "introduccion" de nuestro menu*/
    color: white;
}

/*le daremos estilos a los iconos de las redes sociales*/
/*Ingreso de la clase definida a los iconos de las redes sociales*/
.header-social {
    /*Especifica el tamaño de la fuente de los iconos de las redes sociales, este caso 2rem de tamaño*/
    font-size: 2rem;
    /*Eliminara todos los margenes externos*/
    /*No habra ningun espacio en los cuatro lados: Arriba, Derecha, Abajo, Izquierda*/
    margin: 0;
    /*Posicion absoluta una posicion que no se movera*/
    position: absolute;
    top: 0;
    right: 40px;
}

/*Dentro de nuestra clase de iconos de redes sociales busque la etiqueta li*/
.header-social li {
    /*Especifica que se mueva 1 rem a la derecha*/
    margin-right: 1rem;
}
/*Ingreso de una Pseudo Clase*/
/*Dentro de la clase header-social busuqe la etiqueta li, y dentro de la etiqueta li busque la clase last-child*/
.header-social li:last-child{
    /*Especifico que me mueva los iconos en 0 posicion*/
    margin-right: 0;
}
/*Dentro de nuestra clase header-social me busque las etiquetas li y a*/
.header-social li a {
    /*Esto dara como resultado dar color a los iconos de las redes sociales*/
    /*el alpha 0.5 es para darle la transparencia a los iconos*/
    color: rgb(255, 255, 255, 0.5)
}